{% extends "amazonWeb/base.html" %}
{% block content %}
<h1>All orders and packages</h1>
    {% if OrdersAndPacks %}
        {% for order_and_pack in OrdersAndPacks %}
            <article class="media content-section">
                <div class="media-body">
                    <p><strong>{{ order_and_pack.product.description }}</strong> </p>
                    <p>Product Number: {{ order_and_pack.order.product_num }}</p>
                    <p>Status: {{ order_and_pack.package.status }}</p>
                    <p>Deliver to: ({{ order_and_pack.package.address_x }},{{ order_and_pack.package.address_y }})</p>
                    <p>Tracking number: {{ order_and_pack.track_num }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>You haven't ordered any product yet!</p>
        <a class="nav-item nav-link" href="{% url 'amazon-products' %}">Go buy some!</a>
    {% endif %}
{% endblock content%}