{% extends "amazonWeb/base.html" %}
{% block content %}
    {% for product in products %}
        <article class="media content-section">
            <div class="media-body">
                <p><strong>{{ product.description }}</strong> </p>
                <p>Price: {{ product.price }}</p>
                <p>Category: {{ product.category }}</p>
                <a href="{% url 'amazon-checkout' product_id=product.id%}">buy this product</a>
            </div>
        </article>
    {% endfor %}
{% endblock content%}